{{- $lang := site.Language.Lang -}}
{{- $e := .entry -}}
{{- $name := or (index $e (printf "name_%s" $lang)) $e.name -}}
{{- $date := replace $e.date "~" (i18n "present") -}}
<li>
  <div class="roadmap-line">
    <span class="roadmap-date">{{ range $i, $part := split $date " - " }}{{ if $i }}<span class="roadmap-date-sep"> - </span>{{ end }}{{ $part }}{{ end }}</span>
    <span class="roadmap-name">{{ if $e.url }}{{ partial "link.html" (dict "href" $e.url "text" $name) }}{{ else }}{{ $name }}{{ end }}</span>
  </div>
  {{- with $e.sub }}
  <ul class="roadmap-entries roadmap-sub-entries">
    {{- range collections.Reverse . }}{{ partial "roadmap_entry.html" (dict "entry" .) }}{{ end }}
  </ul>
  {{- end }}
</li>
